<!DOCTYPE html>
<html lang="en" ng-app="app-contacts" ng-controller="appController">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <title>Metasite task</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">
    <link href="css/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/modules/contacts/module.js"></script>
    <script src="js/modules/contacts/controllers/contactsCtrl.js"></script>
    <script src="js/modules/contacts/services/contactsService.js"></script>
</head>

<body class="site" ng-click="hideUserMenu()">
    <header>
        <div class="wrapper">
            <div class="logo-container">
                <img class="logo" src="img/logo.svg" alt="contactify">
            </div>
            <nav class="navigation">
                <a href="#">Dashboard</a>
                <a href="#" class="act">Contacts</a>
                <a href="#" class="">Notifications</a>
            </nav>
            <div class="search-wrapper input-group">
                <input type="text" placeholder="Search" class="form-control">
                <div class="input-group-btn">
                    <i class="fas fa-search"></i>
                </div>
            </div>
            <div class="dropdown-wrapper">
                <div class="dropdown">
                    <div class="dropdown-toggle" ng-click="toggleUserMenu($event)">
                        <div class="dropdown-toggle-icon">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="dropdown-toggle-text">
                            Jorach Mormont
                        </div>
                        <div class="dropdown-toggle-icon dropdown-toggle-icon-second">
                            <i class="fas fa-caret-down"></i>
                        </div>
                    </div>
                    <div class="dropdown-menu" ng-show="userMenuVisible">
                        <a href="#"><i class="dropdown-menu-icon fas fa-users"></i><span class="dropdown-menu-text" >Groups</span></a>
                        <a href="#"><i class="dropdown-menu-icon fas fa-comments"></i><span class="dropdown-menu-text" >Frequently contacted</span></a>
                        <a href="#"><i class="dropdown-menu-icon fas fa-wrench"></i><span class="dropdown-menu-text" >Preferences</span></a>
                        <a href="#"><i class="dropdown-menu-icon fas fa-power-off"></i><span class="dropdown-menu-text" >Log out</span></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="site-content" ui-view="content">
    </main>
    <footer>
        <div class="wrapper">
            <div class="primary-menu-cell">
                <nav class="list">
                    <a class="list-item" href="#">
                        Dashboard
                    </a>
                    <a class="list-item" href="#">
                        Contacts
                    </a>
                    <a class="list-item" href="#">
                        Notifications
                    </a>
                </nav>
                <nav class="list-inline">
                    <div class="list-item">
                        © 2015 Contactify
                    </div>
                    <a class="list-item" href="#">
                        About
                    </a>
                    <a class="list-item" href="#">
                        Privacy
                    </a>
                </nav>
            </div>
            <div class="info-cell">
                <ul class="list-big">
                    <li class="list-item">
                        <i class="icon fas fa-cloud-upload-alt"></i>
                        <span class="text">
                            Last synced:<br>
                            2015-06-02 14:33:10
                        </span>
                        <span class="action-wrap">
                            <a class="action" href="#">
                                <span class="action-icon"><i class="fas fa-sync-alt"></i></span>
                        <span class="action-text">Force sync</span>
                        </a>
                        </span>
                    </li>
                    <li class="list-item">
                        <i class="icon fas fa-stethoscope"></i>
                        <span class="text">
                            Help desk and Resolution center available:<br>
                            I–IV 8:00–18:00, V 8:00–16:45
                        </span>
                    </li>
                </ul>
            </div>
            <div class="secondary-menu-cell">
                <nav class="list">
                    <a class="list-item" href="#">
                        Groups
                    </a>
                    <a class="list-item" href="#">
                        Frequently contacted
                    </a>
                    <a class="list-item" href="#">
                        Preferences
                    </a>
                    <a class="list-item" href="#">
                        Log out
                    </a>
                </nav>
            </div>
        </div>
    </footer>
</body>

</html>