<div class="loader" ng-show="loading"></div>
<div class="filter">
    <form class="wrapper">
        <div class="name-cell">
            <input type="text" class="form-control" placeholder="Name" ng-model="filter.name" />
        </div>
        <div class="city-cell">
            <div class="form-control-select-styled">
                <select class="form-control" ng-model="filter.city">
                    <option value="">City</option>
                    <option ng-repeat="city in cities track by $index" value="{{ city }}">{{ city }}</option>
                </select>
            </div>
        </div>
        <div class="vis-cell">
            <label>
                <input type="checkbox" class="form-control" ng-model="filter.active" /><span>Show visible</span>
            </label>
        </div>
        <div class="button-cell">
            <button class="button button-secondary" ng-click="filterContacts()">filter</button>
        </div>
        <div class="add-cell">
            <button class="button button-left-icon">
                <span class="icon"><i class="fas fa-plus"></i></span> Add new contact
            </button>
        </div>
    </form>
</div>
<div class="wrapper data-container">
    <div class="no-data" ng-if="!contactsFiltered.length">
        No data found.
    </div>
    <aside class="card" ng-if="contactsFiltered.length">
        <div class="card-empty" ng-if="!selectedContact">
            Click item on the list to view details.
        </div>
        <div class="card-img-wrap" ng-if="selectedContact">
            <div class="card-img-aspect">
                <div class="card-img">
                    <div class="img" style="background-image:url('{{ selectedContact.img }}')">
                    </div>
                </div>
            </div>
            <div class="card-body" ng-if="selectedContact">
                <div class="info">
                    <div class="property">Name:</div>
                    <div class="value">{{ selectedContact.name }}</div>
                </div>
                <div class="info">
                    <div class="property">Surname:</div>
                    <div class="value">{{ selectedContact.surname }}</div>
                </div>
                <div class="info">
                    <div class="property">City:</div>
                    <div class="value">{{ selectedContact.city }}</div>
                </div>
                <div class="info">
                    <div class="property">Email:</div>
                    <div class="value"><a href="mailto:{{ selectedContact.email }}">{{ selectedContact.email }}</a></div>
                </div>
                <div class="info">
                    <div class="property">Phone:</div>
                    <div class="value">{{ selectedContact.phone }}</div>
                </div>
            </div>
    </aside>
    <section class="data">
        <table class="table" ng-if="contactsFiltered.length">
            <thead>
                <th class="sorting icon" ng-class="{'sorting-desc': sort.field == 'name' && sort.asc !== true }" ng-click="sortList('name')">Name</th>
                <th>Surname</th>
                <th>City</th>
                <th>Email</th>
                <th class="right">Phone</th>
                <th>
                </th>
            </thead>
            <tbody>
                <tr ng-repeat="contact in contactsFiltered track by $index" ng-click="showContactDetails(contact.id)" ng-class="{'act': selectedContact && selectedContact.id && selectedContact.id == contact.id}">
                    <td class="with-icon">
                        <i class="icon fas fa-eye" ng-class="{'fa-eye-slash': contact.active==false}"></i> {{ contact.name }}
                    </td>
                    <td>{{ contact.surname }}</td>
                    <td>{{ contact.city }}</td>
                    <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
                    <td class="right">{{ contact.phone }}</td>
                    <td>
                        <button ng-click="editContact(contact.id, $event)"><i class="fas fa-pencil-alt"></i></button>
                        <button ng-click="deleteContact(contact.id, $event)"><i class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</div>