.data-container {
	display: flex;
}

.card {
	@include span( first 1 );
}

.data {
	@include span( last 4 );
}

.no-data {
	box-shadow: 0 3px 10px rgba(#000, 0.15);
	border-radius: 5px;
	padding: gutter();
	background: #fff;
	width: 100%;
	flex: 0 0 auto;
}

.loader {
	position: fixed;
	top: 0;
	height: 100%;
	left: 0;
	width: 100%;
	z-index: 100;
	background: linear-gradient(135deg, #217f7a 0%, #1b3c6b 100%);
	transition: all 0.3s cubic-bezier(0.895, 0.03, 0.685, 0.22);

	&::after {
		left: 50%;
		top: 50%;
		content: "\f1ce";
		font-size: em(50);
		color: rgba(#fff, 0.3);
		font-family: Font Awesome\ 5 Free;
		font-weight: 900;

		margin-left: -25px;
		margin-top: -25px;

		display: block;
		position: absolute;
		animation: animation_rotate 1.5s linear infinite;
	}

	&.ng-hide {
		opacity: 0;
	}
}

@keyframes animation_rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
