.filter {
	padding-top: gutter();
	padding-bottom: gutter();
	@include clearfix;

	// padding-top: 19px;
	// height: 77px;

	background: rgba(#000, 0.1);
	margin-bottom: gutter();

	.name-cell {
		@include span( first 1 );
	}

	.city-cell {
		float: left;
		margin-right: gutter();
	}

	.vis-cell {
		margin-top: 8px;
		float: left;
		margin-right: gutter();
	}

	.button-cell {
		margin-top: 3px;
		float: left;
	}

	.add-cell {
		float: right;
		min-width: span(1);
		margin-top: 3px;
		button {
			width: 100%;
			box-shadow: 0 3px 4px rgba(#000, 0.15);
		}
	}
}
