footer {
	margin-top: gutter();
	color: #fff;
	background: rgba(#000, 0.2);

	.wrapper {
		display: flex;
	}

	a {
		color: #fff;
	}

	.primary-menu-cell {
		@include span(first 2);
		padding: gutter() 0;

		nav:first-child {
			margin-bottom: 19px;
		}
	}

	.info-cell {
		@include span(2);
		flex-direction: column;
		background: rgba(#000, 0.2);

		.list-big {
			.list-item {
				padding: gutter()* 2.5 gutter()* 2.5 gutter()* 2.5 0;
			}
		}
	}
	.secondary-menu-cell {
		@include span(last 1);
		padding: gutter() 0;
	}
}
