header {
	background: #dedede;
	background: #1b3c43;
	height: $headerHeight + px;
	position: relative;
	box-shadow: 0 0 0px 5px rgba(#000, 0.1);

	.logo-container {
		@include span( first 1 );
		height: $headerHeight + px;
		position: relative;
	}

	.logo {
		max-width: 189px;
		width: 100%;
		height: auto;

		position: relative;
		top: 50%;
		transform: translateY(-66%);
	}

	.search-wrapper {
		@include span( 1 );
		margin-top: 24px;
		.input-group-btn .fas {
			margin-right: 2px;
		}
	}

	.dropdown-wrapper {
		@include span( last 1 );
	}

	.dropdown {
		float: right;
	}

	.dropdown-toggle-icon {
		font-size: em(12);
	}

	.dropdown-toggle-icon-second {
		font-size: em(13);
	}

	.dropdown-menu {
		transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
		&.ng-hide {
			opacity: 0;
		}
	}

	.navigation {
		margin-top: 27px;
		font-weight: 600;
		font-size: em(15);
		@include span( 2 );
	}
}
