.button {
	background: #217f7a;
	height: 37px;
	border: none;
	border-radius: 19px;
	padding: 0 29px;
	font-size: em(15);
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;

	&:focus {
		outline: none;
	}

	* {
		vertical-align: middle;
	}

	&:hover:not([disabled]) {
		background: darken(#217f7a, 4);
		transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	.icon {
		display: block;
		width: 26px;
		height: 26px;
		border-radius: 13px;
		background: rgba(#000, 0.2);
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
	}

	&.button-left-icon {
		padding-left: 36px;
		padding-right: 10px;
		position: relative;
		text-align: center;
		.icon {
			left: 5px;
		}
	}
}

.button-secondary {
	border: 3px solid rgba(#eaeae8, 0.3);
	background: transparent;
}
