.card {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 3px 10px rgba(#000, 0.15);
}

.card-img-wrap {
	padding-top: gutter() * 5;
	padding-left: gutter() * 5;
	padding-right: gutter() * 5;

	.card-img-aspect {
		width: 100%;
		padding-top: 100%; /* 1:1 Aspect Ratio */
		position: relative;
	}

	.card-img {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	.img {
		height: 100%;
		border-radius: 50%;
		border: 4px solid #d8d8ce;
		background-size: cover;
		background-position: center;
	}
}

.card-body {
	padding-bottom: gutter() * 5;

	font-size: em(14);
	margin-bottom: gutter();

	.info {
		@include clearfix;
	}

	.property {
		margin-top: gutter() * 3;
		float: left;
		width: 40%;
		color: #848484;
		text-align: right;
		padding-right: 10px;
		padding-left: 10px;

		overflow: hidden;
		text-overflow: ellipsis;
	}

	.value {
		@include omega;
		margin-top: gutter() * 3;
		width: 57%;
		float: left;
		padding-right: 10px;
		margin-right: 3%;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	a {
		color: #0094bc;
	}
}

.card-empty {
	padding: gutter() * 5;
	font-size: em(18);
}
