.dropdown {
	position: relative;
	color: #fff;
}

.dropdown-toggle {
	min-height: 36px;
	background-color: #0aa3c2;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	display: flex;
	cursor: pointer;
}

.dropdown-toggle-text {
	width: 1%;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	justify-content: center;
	padding: 4px 0;
}

.dropdown-toggle-icon {
	display: flex;
	width: 31px;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.dropdown-menu {
	list-style-type: none;
	padding: 0;
	color: #fff;
	border-radius: 5px;
	border: 2px solid #08829a;
	position: absolute;
	top: 100%;
	right: 0;
	margin-top: 15px;
	box-shadow: 0 5px 5px rgba(#000, 0.15);
	z-index: 2;

	a {
		background: #0aa3c1;
		position: relative;
		z-index: 2;
		display: block;
		border-top: 1px solid rgba(255, 255, 255, 0.1);
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		padding: 7px 15px 7px 0;
		color: #fff;
		text-decoration: none;
		display: flex;

		&:first-child {
			border-top: none;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;

			&:before {
				display: block;
				content: "";
				position: absolute;
				right: 15px;
				top: -8px;
				width: 16px;
				height: 16px;
				border: 2px solid #08829a;
				background: #0aa3c1;
				transform: rotate(45deg);
			}
			&:after {
				display: block;
				content: "";
				position: absolute;
				right: 10px;
				top: 0px;
				width: 27px;
				height: 20px;
				background: #0aa3c1;
			}
		}

		&:last-child {
			border-bottom: none;
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
		}

		&:hover {
			background: darken(#0aa3c1, 10);
			transition: background 500ms cubic-bezier(0.215, 0.61, 0.355, 1);

			&:before,
			&:after {
				background: darken(#0aa3c1, 10);
				transition: background 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
			}
		}
	}
}

.dropdown-menu-icon {
	width: 33px;
	flex-direction: column;
	display: flex;
	text-align: center;
	justify-content: center;
}

.dropdown-menu-text {
	width: 1%;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	justify-content: center;
	white-space: nowrap;
}
