.form-control {
	height: 43px;
	width: 100%;
	border: 2px solid #213b3d;
	border-radius: 200px;
	box-shadow: 0 0 0 1px rgba(#fff, 0.2);
	padding-left: 12px;
	padding-right: 12px;
	font-size: 1em;

	&[type="text"] {
		&:focus {
			outline: none;
		}
	}

	&[type="checkbox"] {
		margin: 0;
		border-radius: 3px;
		padding: 0;
		display: inline-block;
		width: 19px;
		height: 19px;
		-webkit-appearance: none;
		background: white;
		position: relative;
		margin-right: 5px;

		&:focus {
			outline: none;
		}

		&:checked:after {
			font-size: 11px;
			position: absolute;
			font-family: Font Awesome\ 5 Free;
			font-weight: 900;
			display: block;
			content: "\f00c";
			color: #217f7a;
			top: 2px;
			left: 2px;
		}
	}
}

select {
	&.form-control {
		-webkit-appearance: none;
		&:focus {
			outline: none;
		}
	}
}

.form-control-select-styled {
	position: relative;

	select {
		&.form-control {
			background-color: transparent;
			position: relative;
			z-index: 3;
			padding-right: 30px;
		}
	}

	&:after {
		color: #4e4d42;
		font-family: Font Awesome\ 5 Free;
		font-weight: 900;
		display: block;
		content: "\f0d7";
		position: absolute;
		width: 10px;
		height: 10px;
		top: 50%;
		right: 15px;
		margin-top: -8px;
	}

	&:before {
		background: #fff;
		display: block;
		content: "";
		position: absolute;
		left: 2px;
		right: 2px;
		top: 2px;
		bottom: 2px;
		border-radius: 200px;
	}
}

label {
	color: #fff;

	.form-control {
		vertical-align: middle;
	}

	span {
		vertical-align: middle;
	}
}
