.input-group {
	height: 43px;
	display: flex;
	box-shadow: 0 0 0 1px rgba(#fff, 0.2);
	border-radius: 200px;

	input[type="text"] {
		box-shadow: none;
		height: 100%;

		border-right: none;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		color: #4f4d43;
		padding-right: 5px;

		flex: 1 1 auto;

		display: flex;
		flex-direction: column;
	}

	.input-group-btn {
		border: 2px solid #213b3d;
		border-top-right-radius: 200px;
		border-bottom-right-radius: 200px;

		background-color: #d8d8ce;
		min-width: 36px;
		justify-content: center;
		text-align: center;

		border-left: none;

		display: flex;
		flex-direction: column;
		color: #4f4d43;
	}
}
