.list {
	.list-item {
		display: block;
		margin-bottom: 9px;
	}
}

.list-inline {
	.list-item {
		float: left;
		margin-right: 14px;
	}
}

.list,
.list-inline {
	.list-item {
		font-size: em(15);
	}
}

.list-big {
	list-style: none;
	.list-item {
		display: flex;
		border-bottom: 1px solid rgba(#000, 0.1);
		border-top: 1px solid rgba(#fff, 0.1);
		padding: 10px 0 10px 10px;

		&:first-child {
			border-top: none;
		}

		&:last-child {
			border-bottom: none;
		}

		.icon {
			text-align: center;
			width: 83px;
			font-size: em(32);
			vertical-align: middle;

			display: flex;
			justify-content: center;
			flex-direction: column;
		}

		.text {
			display: flex;
			justify-content: center;
			flex-direction: column;
			flex: 1 1 auto;
		}

		.action-wrap {
			display: flex;
			flex-direction: column;
			text-align: right;
			justify-content: center;
			text-decoration: none;
			white-space: nowrap;
			flex: 1 0 auto;
		}

		.action {
			text-decoration: none;

			.action-icon {
				font-size: em(14);
			}

			.action-text {
				display: inline;
				text-decoration: underline;
			}

			&:hover {
				.action-text {
					text-decoration: none;
				}
			}
		}
	}
}
