.navigation {
	text-transform: uppercase;
	height: 37px;
	border-radius: 18px;
	background-color: #0ca2bd;
	padding: 2px;
	display: flex;

	a {
		background-color: #0ca2bd;
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;

		line-height: 33px;
		color: #fff;
		text-decoration: none;
		text-align: center;
		position: relative;

		&:first-child {
			border-top-left-radius: 17px;
			border-bottom-left-radius: 17px;
		}

		&:last-child {
			border-top-right-radius: 17px;
			border-bottom-right-radius: 17px;

			&:after,
			&:before {
				display: none;
			}
		}

		&:after,
		&:before {
			display: block;
			content: "";
			width: 1px;
			height: 100%;
			position: absolute;
			top: 0;
			z-index: 1;
		}

		&:after {
			left: 100%;
			background-color: #55a8be;
		}

		&:before {
			right: 0;
			background-color: rgba(#000, 0.1);
		}

		&.act {
			box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.1) inset;
			cursor: default;
		}

		&.act,
		&:hover {
			background: #198593;
			transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
		}
	}
}
