.table {
	width: 100%;
	border-collapse: collapse;
	box-shadow: 0 3px 10px rgba(#000, 0.15);

	th,
	td {
		padding-left: 13px;
		padding-right: 13px;

		&.right {
			text-align: right;
		}
	}

	thead {
		background: linear-gradient(90deg, #0086a5 0%, #14c0dd 100%);
	}

	th {
		font-weight: 600;
		color: #fff;
		text-align: left;

		vertical-align: middle;
		height: 50px;
		position: relative;
		border-right: 1px solid rgba(#000, 0.1);

		&:before {
			position: absolute;
			content: "";
			display: block;
			width: 1px;
			height: 100%;
			background: rgba(#fff, 0.1);
			top: 0;
			left: 0px;
		}

		&:nth-child(1) {
			&:before {
				display: none;
			}
			border-top-left-radius: 5px;
			background: #0086a5;
		}

		&:nth-child(2) {
			background: #0390ae;
		}

		&:nth-child(3) {
			background: #0799b8;
		}

		&:nth-child(4) {
			background: #0dadca;
		}

		&:nth-child(5) {
			background: #11b6d4;
		}

		&:nth-child(6) {
			&:after {
				display: none;
			}
			border-top-right-radius: 5px;
			background: #14c0dd;
		}

		&.sorting {
			cursor: pointer;
			padding-right: 28px;
			&:after {
				position: absolute;
				font-family: Font Awesome\ 5 Free;
				font-weight: 900;
				font-size: 14px;
				content: "\f062";
				display: block;
				right: 9px;
				top: 18px;
			}
		}

		&.sorting-desc {
			&:after {
				content: "\f063";
			}
		}

		&.icon {
			padding-left: 47px;
		}
	}

	td {
		color: #4f4d43;
		background: #fff;
		border-bottom: 1px solid #eaeae8;
		padding-top: 11px;
		padding-bottom: 11px;
		cursor: pointer;

		&.with-icon {
			padding-left: 0px;

			.icon {
				font-size: em(14);
				width: 47px;
				text-align: center;
			}
		}

		a {
			color: #4f4d43;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		button {
			width: 24px;
			height: 24px;
			font-size: em(14);
			padding: 0 4px;
			border: none;
			border-radius: 5px;
			color: #4f4d43;
			padding-bottom: 1px;
			cursor: pointer;
		}
	}

	tr {
		&.act,
		&:hover {
			td {
				background: #e6f6f9;
				transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1);

				button {
					background: #11b6d4;
					color: #fff;
					transition: background 500ms cubic-bezier(0.215, 0.61, 0.355, 1);

					&:hover {
						background: darken(#11b6d4, 20);
						transition: background 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
					}
				}
			}
		}

		&:last-child {
			td {
				border-bottom: none;
			}
			td:first-child {
				border-bottom-left-radius: 5px;
			}
			td:last-child {
				border-bottom-right-radius: 5px;
			}
		}
	}
}
