html * {
	font-family: "Open Sans", sans-serif;
}

.site {
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	background: linear-gradient(135deg, #217f7a 0%, #1b3c6b 100%);
}

.site-content {
	flex: 1;
}

.wrapper {
	max-width: 1188px;
	margin: 0 auto;
	padding: 0 gutter();
}

a {
	&:hover {
		text-decoration: none;
	}
}
