$headerHeight: 89;

$susy: (
  columns: 5,
  gutters: 0.085,
  math: fluid,
  output: float,
  gutter-position: after,
  global-box-sizing: content-box,
  debug: (image: show-columns, color: rgba(#66f, 0.25), output: background, toggle: top right)
);
